dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
  }
  
dt {
    font-weight: bold;
    text-align: right;
  }
  
dd {
    margin: 0;
  }

  
  

.main{

}


@media (max-width: 600px) {
    dl {
      grid-template-columns: 1fr;
    }
    
    dt {
      text-align: left;
      margin-bottom: 0.25rem;
    }
  }
  